<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/hamal_db</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="connection.username">root</property>
        <property name="connection.password">Lfybkj04</property>

        <mapping class="com.hamal.Hibernate.Airline"/>
        <mapping class="com.hamal.Hibernate.CurrentLocation"/>
        <mapping class="com.hamal.Hibernate.Flight"/>
        <mapping class="com.hamal.Hibernate.Plane"/>
        <mapping class="com.hamal.Hibernate.PlaneInfo"/>
        <mapping class="com.hamal.Hibernate.State"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>